<div class="container">

 <h2><%= user.name %></h2>
   <div class="row">
           <div class="user_profile_image">
             <%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: '100x100', style: "border-radius:50%;"%>
           </div>

           <div class="d-flex align-items-end">
             <% if user != current_user %>
                <%= render "relationships/info", user: user %>   <!--info.html.erb(フォローボタン)の呼び出し-->
             <% else %>
                <%= link_to "", edit_user_path(user.id), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
             <% end %>
          </div>

             <table class="table">
               <tbody>
                  <tr>
                    <th>follows</th>
                    <th><%= link_to user.followings.count, user_followings_path(user.id) %></th>
                  </tr>
                  <tr>
                    <th>followers</th>
                    <th><%= link_to user.followers.count, user_followers_path(user.id) %></th>
                  </tr>
                </tbody>
              </table>
  </div>
</div>