

<div>
    <%= render 'users/userinfo', user: @user %>
</div>

<%= button_to 'ユーザー登録', user_path(current_user.id), method: :get %>


<div>
  <% @post_images.each do |post_image| %>
  <%= link_to post_image_path(post_image.id) do %>
    <%= attachment_image_tag post_image, :image, format: 'jpeg', fallback: "no_image.jpg", size: '500x500' %>
  <% end %>

  <p>説明：<%= post_image.body %></p>

</div>
<% end %>
<%= paginate @post_images %>