<%= render 'post_images/category' %>
<h1>Men</h1>
<div class = "container">
  <div class = "row">
       <% @post_images.each do |post_image| %>
       <% if post_image.category == "men" %>

            <div class="col-lg-3 col-md-6 mb-4">
               <%= link_to post_image_path(post_image.id) do %>
               <%= attachment_image_tag post_image, :image, format: 'jpeg', fallback: "no_image.jpg", size: '200x250' %>
             <% end %>

           <p>User：<%= attachment_image_tag post_image.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: '50x50' %></p>
           <p>Title：<%= post_image.title %></p>
           <p>Introduction：<%= post_image.body %></p>
           <p>Name：<%= post_image.user.name %></p>

           <p class="like_<%= post_image.id %>"><%= render "likes/like-btn", post_image: post_image %></p>
        </div>
     <% end %>
   <% end %>

  </div>
</div>

