<div>
  <%= render 'users/userinfo', user: @user %>






  <%= attachment_image_tag @post_image, :image, format: 'jpeg', fallback: "no_image.jpg", size: '200x200' %>
  <p>タイトル：<%= @post_image.title %></p>
  <p>説明：<%= @post_image.body %></p>

  <p>投稿日時：<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>

  <% if user_signed_in? && current_user.id == @post_image.user_id %>
    <%= link_to "編集", edit_post_image_path(@post_image) %>
    <%= link_to "削除", post_image_path(@post_image), method: :delete %>
  <% end %>

    <%= render "detail",post_image: @post_image %>

</div>

    <%# if @post_image.bookmarked_by?(current_user) %>
      <%#= link_to "お気に入りを外す", post_image_favorites_path(@post_image), method: :delete %></td>
    <%# else %>
      <%#= link_to "お気に入り", post_image_favorites_path(@post_image), method: :post %></td>
    <%# end %>
   <div>
    <%= render "star",post_image: @post_image %>
   <div>
<!--<div class='star-btn' id="favorite_<%#= @post_image.id %>">-->
<!--  <%#= render "favorites/favorite", post: @post_image %>-->
<!--</div>-->




<div id="comments-area"><%= render 'post_comments/index', post_comments: @post_image.post_comments %></div>


<div>
<%= form_with(model:[@post_image, @post_comment], remote: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>

<%= render_with_hashtags(@post_image.hashbody) %>