<!DOCTYPE html>
<html lang="ja">
  <head>
     <meta charset="utf-8">
    <title>Be yourself</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
       <header>  <!--ヘッダーデザイン-->
      	<nav class="navbar navbar-light" style="background-color:#ffefd5;">
        <div class="container">
      	  <a href="/" class="navbar-brand">Be yourself</a>
      	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
                 <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                      <% if user_signed_in? %>
                           <li>
                              <%= link_to new_post_image_path, class: "nav-link text-dark" do %>
                              <i class="fas fa-images"></i> 投稿する
                              <% end %>
                           </li>
                           <li>
                              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-dark" do %>
                              <i class="fas fa-sign-out-alt"></i> ログアウト
                              <% end %>
                           </li>
                           <li>
                              <%= link_to user_path(current_user.id), class:"nav-link text-dark" do %>
                              <i class="fas fa-user"></i> マイページ
                              <% end %>
                           </li>
                           <li>
                              <%= link_to post_images_path, class: "nav-link text-dark" do %>
                              <i class="fas fa-list-alt"></i> みんなの投稿
                              <% end %>
                           </li>
                           <li>
                              <%= link_to notifications_path, class: "nav-link text-dark" do %>
                              <i class="fas fa-bell"></i> 通知
                              <% end %>
                           </li>
                      <% else %>
                           <li>
                              <%= link_to new_user_registration_path, class: 'nav-link text-dark' do%>
                              <i class="fas fa-user-plus"></i> 新規登録
                              <% end %>
                           </li>
                           <li>
                              <%= link_to new_user_session_path, class: "nav-link text-dark" do %>
                              <i class="fas fa-sign-in-alt"></i> ログイン
                              <% end %>
                           </li>
                           <li>
                              <%= link_to "about", class: "nav-link text-dark" do%>
                              <i class="fas fa-link"></i> このサイトについて
                              <% end %>
                           </li>
                       <% end %>
                   </ul>
                 </div> <!--/collapse navbar(br:22) -->
           </div>   <!--/container(br:17) -->
        </nav>
     </header>
     <main>
       <%= yield %>
     </main>

     <footer>
       <p class="footer-text text-dark">Copyright ©2022 Be yourself, All Rights Reserved.</p>
     </footer>

  </body>
</html>
